<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351766027825-h498gg2id4qcr8dtrlq14qd7siupc2n6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351766027825-h498gg2id4qcr8dtrlq14qd7siupc2n6</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ249ttQJCGcZadtExWyhqvJPjWQUhN5U</string>
	<key>GCM_SENDER_ID</key>
	<string>351766027825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDontaionApp</string>
	<key>PROJECT_ID</key>
	<string>bloodbank-93d85</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank-93d85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351766027825:ios:c4b5209af3c44fd7f2ff10</string>
</dict>
</plist>